*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
  @import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

html,body{
    height: 100%;
    width: 100%;
}
.main{
    /* border: 2px solid purple; */
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/2847648/pexels-photo-2847648.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}
.nav-bar{
    /* border: 2px solid black ; */
    display: flex;
    height: 8%;
    position: relative;
}
.nav-part1{
    /* border: 2px solid red; */
    display: flex;
    gap: 1rem;
    width: 80%;
    align-items: center;
    justify-content: flex-end;  
    padding-right: 10px;
}
.nav-part2{
    /* border: 2px solid blue; */
    width: 20%;
    display: flex;
    align-items: center;
    padding: 10px;
}
.content{
    /* border: 2px solid green; */
    height: 92%;
    display: flex;
}
.nav-part1 i{
    display: none;
}
.nav-part2 i{
    font-size: 2vw;
    color: red;
}
.image{
    width: 50%;
    /* border: 2px solid blueviolet; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Rohan{
    width: 50%;
    /* border: 2px solid greenyellow; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
}
.rohan-image{
    height: 70%;
    width: 50%;
    border: 2px solid grey;
    background-image: url(Images/rohan2.jpeg);
    background-size: cover;
    border-radius: 45%;
}
.rohan-about{
    height: 80%;
    width: 70%;
    /* border: 2px solid aqua; */
    padding-top: 3vw;
    padding-left: 5vw;
} 
.rohan-about1{
    color: rgb(116, 0, 116);
    padding-top: 2vw;
    padding-bottom: 1vw;
}
.rohan-about2{
    font-size: 4vw;    
    padding-bottom: 1vw;
}
.rohan-about2 span{
    font-size: 4vw;
    color: rgb(141, 0, 141);
    
}
.rohan-about3{
    padding-bottom: 5vw;
}
button{
    height: 3vw;
    width: 12vw;
    font-size: 1.25vw;
    font-weight: 600;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: transparent;
}

/*making responsive*/

@media(max-width: 600px){
    .content{
        flex-direction: column;
    }
    .nav-part1 h4{
        display: none;
    }
    .nav-part1 i{
        display: block;
        font-size: 5vw;
        color: purple;
    }
    .Rohan{
        width: 100%;
    }
    .image{
        width: 100%;
    }
    .rohan-about{
        padding : 0;
        padding-left: 2.2vw;
        width: 90%;
    }
    .rohan-about1{
        font-size: 4vw;
        padding-top: 5vw;
        padding-bottom: 2vw;
    }
    .rohan-about2{
        font-size: 12vw;
        padding-bottom: 4vw;
    }
    .rohan-about2 span{
        font-size: 12vw;
    }
    .rohan-about3{
        font-size: 4vw;
    }
    .rohan-about4{
        font-size: 4vw;
    }
    button{
        height: 5vw;
        width: 27vw;
        font-size: 2.3vw;
        font-weight: 700;
    }
}